<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"
	xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp iot uap3 rescap">

  <Identity
    Name="MistyCSharpSkill1-uwp"
    Publisher="CN=arues"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="f28c8ce8-d4e0-4dbe-b812-69fcc34983a1" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>MistyCSharpSkill1</DisplayName>
    <PublisherDisplayName>arues</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App">
      <uap:VisualElements
        DisplayName="MistyCSharpSkill1"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="MistyCSharpSkill1"
        BackgroundColor="transparent"
        AppListEntry="none">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension Name="MistyRobotics.SDK" Id="MistyCSharpSkill1" DisplayName="MistyCSharpSkill1" Description="MistyCSharpSkill1" PublicFolder="Public">
            <uap3:Properties>
              <Service>MistyCSharpSkill1</Service>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
        <uap:Extension Category="windows.appService" EntryPoint="MistyCSharpSkill1.StartupTask">
          <uap:AppService Name="MistyCSharpSkill1" />
        </uap:Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="MistyCSharpSkill1.StartupTask">
          <BackgroundTasks>
            <iot:Task Type="startup" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="broadFileSystemAccess" />
  </Capabilities>
</Package>